/* Fundal gradient */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f6f6f6, #e9e9e9);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between; /* Asigură că footerul stă jos */
}

/* Wrapper pentru conținut */
.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
}

/* Header */
header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Search Bar */
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#search {
    width: 50%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#searchButton {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

/* Containerul cu produsele */
ul {
    padding: 0 20px; /* Adăugăm 20px la stânga și dreapta pentru a lăsa spațiu */
    margin: 0 auto; /* Centrarea pe orizontală a listei de produse */
    max-width: 1200px; /* Maximizează lățimea pentru a nu merge la marginea paginii */
    list-style-type: none; /* Elimină bullet points-ul din listă */
}

/* Carduri pentru produse (li) */
li {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%; /* Fă-l să ocupe toată lățimea disponibilă */
}

li:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Imaginea produsului */
li img {
    max-width: 150px;
    max-height: 150px;
    margin-right: 25px;
    border-radius: 10px;
}

/* Textul și descrierea produsului */
li div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

strong a {
    font-size: 1.1em;
    color: #007bff;
    text-decoration: none;
}

strong a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%; /* Asigură că footerul are lățimea completă */
}

/* Mesajul 'Nu au fost găsite produse' - tranzitie graduală */
.no-results {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    visibility: hidden;
}

.no-results.show {
    opacity: 1;
    visibility: visible;
}

