<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparare Prețuri</title>
</head>
<body>
    <h1>Comparare Prețuri</h1>
    
    <form method="POST">
        <input type="text" name="query" placeholder="Caută un produs..." required>
        <button type="submit">Caută</button>
    </form>

    {% if products %}
    <h2>Products</h2>
    <ul>
        {% for product in products %}
            <li>
                <strong>{{ product.name }}</strong><br>
                Price: {{ product.price }}<br>
                Rating: {{ product.rating }}<br><br>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No products found based on your filters.</p>
{% endif %}


</body>
</html>
