<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRICER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="wrapper">
        <header>
            <h1>PRICER</h1>
        </header>

        <button id="darkModeToggle">🌙 Dark Mode</button>

        <a href="/favorites" class="favorite-link">❤️ Favorite</a>


        <div class="main-content">
            <div class="search-container">
                <input type="text" id="search" placeholder="Caută un produs..." required>
                <button type="button" id="searchButton">Caută</button>
            </div>

            <div id="loader" class="hidden"></div>

            <ul id="productList">
                {% for product in products %}
                <li>
                    <img src="{{ product.image }}" alt="{{ product.name }}">
                    <div>
                        <strong><a href="{{ product.link }}" target="_blank">{{ product.name }}</a></strong><br>
                        <span class="price">{{ product.price }} MDL</span>
                        <button class="favorite-button" onclick="addToFavorites({
                            name: '{{ product.name }}',
                            price: '{{ product.price }}',
                            image: '{{ product.image }}',
                            link: '{{ product.link }}'
                        })">⭐ Adaugă la favorite</button>
                    </div>
                </li>
                
                {% endfor %}
            </ul>

            <p class="no-results" id="noResultsMessage"></p>
        </div>

        <footer>
            <p>&copy; 2025 PRICER. Toate drepturile rezervate.</p>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
